{% extends "base.html" %}
{% block title %}Pagina Inicial{% endblock title %}
{% block content %}



  <h3>Pokemons</h3>
  <div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4">
      <a href="{{pokemon.id}}">{{ pokemon | capfirst }}</a>
      
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{pokemon.picture.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon | capfirst }}</h5>
          <p class="card-text">Altura{{pokemon.height}}</p>
          <a href="{{pokemon.id}}" class="btn btn-primary">
            <i class="fa-solid fa-eye"></i>
          </a>
        </div>
      </div>
      
    </div>
    {% endfor %}
  </div>

  {% endblock content %}
  
  